/* 
color chart 
#273746 - dark navy
#566573 - shale blue ish
#808b96 - blue grey
#aeb6bf - grey
#d5d8dc - light grey
#ecf0f1 - off white
*/


* {
    background-color: #273746;
    color: #ecf0f1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
