/* 
color chart 
#273746 - dark navy
#566573 - shale blue ish
#808b96 - blue grey
#aeb6bf - grey
#d5d8dc - light grey
#ecf0f1 - off white
*/


body {
    background-color: #273746;
    color: #ecf0f1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

section, header, footer {
    background-color:inherit;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: inherit;
}

.contact_info {
    display: block;
    font-size: 1rem;
}
