
:root {
    --background-primary: #273746;
    --background-secondary: #566573;
    --background-highlight: #808b96;
    --text-primary: #ecf0f1;
    --text-secondary: #aeb6bf;

}

/* ------------------------------------------------

1. GENERAL 

------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}



/* ------------------------------------------------

2. FONT 

------------------------------------------------- */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
    font-size: 2rem;
    font-weight: bolder;
}

.contact_info, .subtitle {
    font-size: 0.8rem;
}

.index_link {
    font-size: 1.5rem;
}

header {
    font-size: 1rem;
}

.project_title {
    text-decoration: underline;
}


/* ------------------------------------------------

3. LAYOUT 

------------------------------------------------- */
body, section, header, footer {
    background-color: var(--background-primary);
    color: var(--text-primary);
}

div {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

.contact_info {
    display: block;
    text-align: center;
}

.subtitle {
    display: flex;
}

header {
    display: flex;
    background-color: var(--background-secondary);
    width: 2.5rem;
    padding: 0.2rem;
    border-radius: 10px;
    border: 0.2rem solid var(--background-highlight);
}

.index_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    padding: 0.2rem;
    background-color: var(--background-secondary);
    border-radius: 10px;
    border: 0.2rem solid var(--background-highlight);
}

.index_link:hover {
    background-color: var(--background-highlight);
}

.project {
    justify-content: left;
    flex-direction: column;

}

/* ------------------------------------------------

4. EFFECTS 

------------------------------------------------- */